/* Add CSS Styling */
.odd-numbered {
    background-color: rgb(223, 156, 156);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.big-number {
    font-size: 24px;
}

#n2 {
    color: #0000ff;
    font-size: 36px;
}

#n4 {
    background-color: lightgreen;
    font-weight: bold;
}