/* Add CSS Styling */
.first,
.second{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.first{
    color: #ffff;
    background-color: rgb(0, 0, 0);
}
.second{
    background-color: hsl(60, 100%, 50%);
}